<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es_ES" > <!--<![endif]-->

<head>

{if segment_2=='gracias'}
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='78212418-1',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->	


<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6009076820833';
fb_param.value = '0.00';
fb_param.currency = 'USD';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6009076820833&amp;value=0&amp;currency=USD" /></noscript>
{/if}

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>tuCirculo</title>

	<link rel="shortcut icon" href="{site_url}/images/favicon.ico">
	<link rel="stylesheet" href="{site_url}/css/foundation_landing.css">
	<link rel="stylesheet" href="{site_url}/css/custom_landing.css">
	<script type="text/javascript" src="//use.typekit.net/rry3hvr.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<script src="{site_url}/js/vendor/custom.modernizr_landing.js"></script>

	<!-- for Google -->
	<meta name="description" content="Descrubre las noticias sin tener que buscarlas - Mantente bien informado con múltiples fuentes y opiniones en un solo lugar." />
	<meta name="keywords" content="Noticias, Red Social, Información, Múltiples, Fuentes " />
	<meta name="author" content="tuCirculo" />
	<meta name="copyright" content="tuCirculo" />
	<meta name="application-name" content="tuCirculo" />
	
	<!-- for Facebook -->          
	<meta property="og:title" content="tuCirculo" />
	<meta property="og:type" content="article" />
	<meta property="og:image" content="{site_url}/images/basicas/logo_tucirculo_fb.png" />
	<meta property="og:url" content="http://tucirculodenoticias.com" />
	<meta property="og:description" content="Descrubre las noticias sin tener que buscarlas - Mantente bien informado con múltiples fuentes y opiniones en un solo lugar." />
	
	<!-- for Twitter -->          
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="tuCirculo" />
	<meta name="twitter:description" content="Descrubre las noticias sin tener que buscarlas" />
	<meta name="twitter:image" content="{site_url}/images/basicas/logo_tucirculo_fb.png" />

</head>


{if segment_1=='es'}
	{embed="includes/email-unete"}
{/if}

{if segment_1=='en'}
	{embed="includes/email-join"}
{/if}

<body>


