<nav class="top-bar" style="">
  <div class="row">
    <div class="large-5 large-offset-1 columns">
      {if segment_2=="gracias"}
        <h1><a href="{site_url}?ACT=11"><img src="{site_url}/img/logo_navbar.png" id="logo_navbar" alt="tuCírculo"></a></h1>
        {if:else}
        <h1><a href="{site_url}"><img src="{site_url}/img/logo_navbar.png" id="logo_navbar" alt="tuCírculo"></a></h1>
      {/if}
    </div>

    <div class="large-3 columns" id="buttons">
      <ul>
        <li>
          <a href="https://www.facebook.com/tucirculodenoticias" target="_blank"><span class="icon-facebook"></span></a>
        </li>
        <li>
          <a href="https://twitter.com/tucirculo" target="_blank"><span class="icon-twitter"></span></a>
        </li>
      </ul>
      <ul id="language">
        <li><a id="language-spanish" href="{site_url}/es">ESPAÑOL</a></li>
        <li><a id="language-english" href="{site_url}/en">ENGLISH</a></li>
      </ul>
    </div>

    <!-- <div class="large-1 large-offset-8">
      <section class="top-bar-section hide-for-small hide-for-medium">
        <ul class="right">
          <li>
            <a href="https://www.facebook.com/tucirculodenoticias" target="_blank"><span class="icon-facebook"></span></a>
          </li>
          <li>
            <a href="https://twitter.com/tucirculo" target="_blank"><span class="icon-twitter"></span></a>
          </li>
        </ul>
      </section>
    </div> -->
  </div>
</nav>