			
			{if segment_1!="perfil"}
			<div class="row">
				<div class="large-6 small-12 columns">
					<div class="panel">	
						<img src="http://placehold.it/171x171">
					</div>
				</div>
				<div class="large-6 small-12 columns">
					<div class="panel">	
						<h5>Herman Marin</h5>
						<location>Quito, Ecuador</location>
						<bio>“Creo en la democracia y la participación ciudadana para hacerla mas sólida” </bio>
						<p><a href="">Editar Perfil</a></p>
					</div>	
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<h3>elMegáfono</h3>
						<form class="custom">
							<input type="text" placeholder="Link">
							<textarea placeholder="Comenta"></textarea>
						      <select id="customDropdown1" class="large">
						        <option>Categorias</option>
						        <option>This is another option</option>
						        <option>This is another option too</option>
						        <option>Look, a third option</option>
						      </select>
							<a href="#" class="button success expand">Comparte</a>							
						</form>
					</div>
				</div>
			</div>	

			<div class="row">
				<div class="large-12 columns">
					<div class="panel">
						<h3>tuCirculo</h3>
						<ul class="small-block-grid-6 photos-network">
						  <li><img src="http://placehold.it/47x47"></li>
						  <li><img src="http://placehold.it/47x47"></li>
						  <li><img src="http://placehold.it/47x47"></li>
						  <li><img src="http://placehold.it/47x47"></li>
						  <li><img src="http://placehold.it/47x47"></li>
						  <li><img src="http://placehold.it/47x47"></li>
						  <li><img src="http://placehold.it/47x47"></li>
						  <li><img src="http://placehold.it/47x47"></li>
						  <li><img src="http://placehold.it/47x47"></li>
						  <li><img src="http://placehold.it/47x47"></li>
						  <li><img src="http://placehold.it/47x47"></li>
						  <li><img src="http://placehold.it/47x47"></li>
						</ul>
					</div>
				</div>																					
			</div>	
			{/if}
			
			
			{if segment_1=="perfil"}
			<div class="row collapse">
				<div class="large-12 columns">
			    	<div class="panel">
						<img src="http://placehold.it/364x364">
					</div>
			    </div>    
				<div class="large-12 columns">
			    	<div class="panel">
						<div class="small-8 columns">
							<input type="text" placeholder="Upload Photo">
					    </div>
						<div class="small-4 columns">
					    	<a href="#" class="button prefix">Search</a>
					    </div>
					</div>
			    </div>    
			</div>
			{/if}