{exp:user:register return="content/gracias" }
 
    <p>Nombre:
        <input type="text" name="username" /></p>
    <p>Apellido:
        <input type="text" name="surname" /></p>
    <p>Telefono:
        <input type="text" name="phone" /></p>
    <p>Screen Name:
        <input type="text" name="screen_name" /></p>
    <p>Email Address:
        <input type="text" name="email" /></p>
 
    <p>Password:
        <input type="password" name="password" /></p>
    <p>Confirm Password:
        <input type="password" name="password_confirm" /></p>

    <p><input type="checkbox" name="accept_terms" value="y" />
        Accept Terms?</p>
 
    <p><input type="submit" value="Submit" /></p>
    {exp:email:send_mail}
 
{if no_results}
    <p>You're currently logged in, and must be logged out to view this form.</p>
    {exp:email:send_mail}|
{/if}
 
{/exp:user:register}