<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome to Foundation</h1>
      </div>
    </div>
				  <div class="row">
            <div class="large-3 columns">
              <label>Marca</label>
              {exp:filtros:brand}
            </div>
            <div class="large-3 columns">
              <label>Modelo</label>
              <div id="modelos">
                {exp:filtros:model marca="@@@"}
              </div>
            </div>
            <div class="large-3 columns">
              <label>Versión</label>
              <div id="versiones">
                {exp:filtros:version modelo="@@@"}
              </div>
            </div>
            <div class="large-3 columns">
              <label>Año</label>
              <select>
                <option value="husker">Husker</option>
                <option value="starbuck">Starbuck</option>
                <option value="hotdog">Hot Dog</option>
                <option value="apollo">Apollo</option>
              </select>
            </div>
				  </div>
				  
    
    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

<script>

$( "#modelo" ).change(function (evt) {
    var str = "";
    $( "#modelo option:selected" ).each(function() {
      str = "modelo="+$( this ).val();
      evt.preventDefault();
      $.ajax({
             type: "POST",
             url: "/?/content/versiones/",
             data: str, // serializes the form's elements.
             success: function(response)
             { // show response from the php script.
               $('#versiones').html(response);
             }
           });
    });
  });

$( "#marca" )
  .change(function (evt) {
    var str = "";
    $( "#marca option:selected" ).each(function() {
      str = "marca="+$( this ).val();
      evt.preventDefault();
      $.ajax({
             type: "POST",
             url: "/?/content/modelos/",
             data: str, // serializes the form's elements.
             success: function(response)
             { // show response from the php script.
               $('#modelos').html(response);
             }
           });
    });
  });

  

</script>
