<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>La Positiva</h1>
      </div>
    </div>
    <div class="large-12 columns">
				  <div class="row">
            <div class="large-3 columns">
              <label>Marca</label>
              {exp:filtros:brand}
            </div>
            <div class="large-3 columns">
              <label>Modelo</label>
              <div id="modelos">
                <select name="modelo" id="modelo">
                   <option value="MODELO" selected>MODELO</option>
                </select>
              </div>
            </div>
            <div class="large-3 columns">
              <label>Versión</label>
              <div id="versiones">
                <select name="version" id="version">
                  <option value="VERSIÓN" selected>VERSIÓN</option>
                </select>
              </div>
            </div>
            <div class="large-3 columns">
              <label>Año</label>
              <div id="versiones">
                <select name="año" id="ano">
                  <option value="AÑO" selected>AÑO</option>
                </select>
              </div>
            </div>
				  </div>
          <div class="large-12 columns">
            <div class="row">
              <div class="large-3 columns">
                <label>Región</label>
                {exp:filtros:region}
              </div>
              <div class="large-3 columns">
                <label>Distrito</label>
                <select name="distrito" id="distrito">
                   {exp:filtros:district region="@@@"}
                </select>
              </div>
              <div class="large-3 columns" >
                <label>RESULTADO:</label>
              <div id="resultado">
              </div>
              </div>
              <div class="large-3 columns" >
                
              </div>
            </div>
          </div>
    </div>
				  
    
    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

<script>
$( "#distrito" ).change(function (evt) {
    var str = "";
    $( "#distrito option:selected" ).each(function() {
      str = $( this ).val();
      if(str=='DISTRITO'){
        $('#resultado').html('No hay resultado');
      }
      else{
      str = str.replace(/-/gi," ");
      str = "distrito="+str;
      evt.preventDefault();
      $.ajax({
             type: "POST",
             url: "/?/content/agencia/",
             data: str, // serializes the form's elements.
             success: function(response)
             { // show response from the php script.
               $('#resultado').html(response);
             }
           });
      }
    });
  });

$( "#region" ).change(function (evt) {
    var str = "";
    $('#distrito option:eq(0)').prop('selected', true);
    $('#resultado').html('No hay resultado');
    $( "#region option:selected" ).each(function() {
      str = $( this ).val();
      if(str=='REGIÓN'){
        $('#distrito option:eq(0)').prop('selected', true);
        $('#resultado').html('No hay resultado');
      }
      else{
      str = str.replace(/-/gi," ");
      str = "region="+str;
      evt.preventDefault();
      $.ajax({
             type: "POST",
             url: "/?/content/distrito/",
             data: str, // serializes the form's elements.
             success: function(response)
             { // show response from the php script.
               $('#distrito').html(response);
             }
           });
      }
    });
  });

$( "#version" ).change(function (evt) {
    var str = "";
    $('#ano option:eq(0)').prop('selected', true);
    $( "#version option:selected" ).each(function() {
      str = $( this ).val();
      if(str=='VERSIÓN'){
        $('#ano option:eq(0)').prop('selected', true);
      }
      else{
      str = str.replace(/-/gi," ");
      str = "version="+str;
      evt.preventDefault();
      $.ajax({
             type: "POST",
             url: "/?/content/ano/",
             data: str, // serializes the form's elements.
             success: function(response)
             { // show response from the php script.
               $('#ano').html(response);
             }
           });
      }
    });
  });

$( "#modelo" ).change(function (evt) {
    var str = "";
    $('#version option:eq(0)').prop('selected', true);
    $('#ano option:eq(0)').prop('selected', true);
    $( "#modelo option:selected" ).each(function() {
      str = $( this ).val();
      if(str=='MARCA'){
        $('#version option:eq(0)').prop('selected', true);
        $('#ano option:eq(0)').prop('selected', true);
      }
      else{
      str = str.replace(/-/gi," ");
      str = "modelo="+str;
      evt.preventDefault();
      $.ajax({
             type: "POST",
             url: "/?/content/versiones/",
             data: str, // serializes the form's elements.
             success: function(response)
             { // show response from the php script.
               $('#version').html(response);
             }
           });
      }
    });
  });

$( "#marca" )
  .change(function (evt) {
    var str = "";
    $('#modelo option:eq(0)').prop('selected', true);
    $('#version option:eq(0)').prop('selected', true);
    $('#ano option:eq(0)').prop('selected', true);
    $( "#marca option:selected" ).each(function() {
      str = $( this ).val();
      if(str=='MARCA'){
        $('#modelo option:eq(0)').prop('selected', true);
        $('#version option:eq(0)').prop('selected', true);
        $('#ano option:eq(0)').prop('selected', true);
      }
      else{
      str = str.replace(/-/gi," ");
      str = "marca="+str;
      evt.preventDefault();
      $.ajax({
             type: "POST",
             url: "/?/content/modelos/",
             data: str, // serializes the form's elements.
             success: function(response)
             { // show response from the php script.
               $('#modelo').html(response);
             }
           });
      }
    });
  });

  

</script>
