<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>Welcome to Foundation</h1>
      </div>
    </div>
				  <div class="row">
            <div class="large-3 columns">
              <form type="POST" id="marca_form">
                <input type="hidden" name="XID" value="{XID_HASH}">   
                <input id="marca_field" name="marca" value="">
              </form>
              <label>Marca</label>
              {exp:filtros:brand}
              <div id="result"></div>
            </div>
            <div class="large-3 columns">
              <label>Modelo</label>
              <div id="modelos">

              </div>
            </div>
            <div class="large-3 columns">
              <label>Versión</label>
              {exp:filtros:version modelo="A4"}
            </div>
            <div class="large-3 columns">
              <label>Año</label>
              <select>
                <option value="husker">Husker</option>
                <option value="starbuck">Starbuck</option>
                <option value="hotdog">Hot Dog</option>
                <option value="apollo">Apollo</option>
              </select>
            </div>
				  </div>
				  
    
    <script src="js/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

<script>
$( "#marca" )
  .change(function (evt) {
    var str = "";
    $( "#marca option:selected" ).each(function() {
      str = $( this ).val();
      $('#marca_field').val(str);
      evt.preventDefault();
      $.ajax({
             type: "POST",
             url: "/?/content/modelos/",
             data: $('#marca_form').serialize(), // serializes the form's elements.
             success: function(response)
             { // show response from the php script.
               $('#modelos').html(response);
             }
           });
    });
  })
</script>
