<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>La Positiva</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Bowlby+One+SC' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{site_url}/css/foundation.css" />
    <link rel="stylesheet" href="{site_url}/css/custom.css" />
    <script src="{site_url}/js/modernizr.js"></script>
</head>
<body class="antialiased">
    {exp:get_post_vars parse="inward"}
    <section id="second-section">
        <div class="row">
            <div class="large-12 columns text-center">
                <p>EL VALOR DE TU</p>
                <h2>{get_marca} {get_modelo} {get_version}, {get_ano}</h2>
                <p>ES DE</p>
                <h3>{get_precio}<span id="low-price">.00 DÓLARES</span></h3>
            </div>
        </div>
    </section>
    {/exp:get_post_vars}
    <div class="fixed-footer-top-trigger"></div>

    <section id="third-section">
        <div class="row">
            <div class="large-11 large-centered small-11 small-centered text-center columns">
                <p class="marketing">CON LA COMPRA DE CUALQUIERA DE ESTAS COBERTURAS LLÉVATE <span>GRATIS</span> NUESTRO SEGURO DE ACCIDENTES PERSONALES <a href="#">ver más</a></p>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <div class="row">
                    <div class="large-3 large-uncentered medium-4 medium-offset-2 small-6 small-centered text-center columns">
                        <div class="info-row">
                            <a href="" class="info-tooltip">?</a>
                            <p class="info-price">S/.15</p>
                            <p class="info-description">PRIMA MENSUAL</p>
                            <form class="info-form" action="#">
                                <span class="selector">
                                    <select name="selector" id="">
                                        <option value="">HASTA S/.50,000</option>
                                    </select>
                                </span>
                            </form>
                            <div class="info-bottom">
                                <p>RESPONSABILIDAD CIVIL</p>
                            </div>
                        </div>

                        <div class="checkbox-row">
                            <form class="checkbox-form" action="#">
                                <input id="c1" type="checkbox" value="15"><label for="c1"><span></span><br>Agrega a mi Cotización</label>
                            </form>
                        </div>
                    </div>

                    <div class="large-3 large-uncentered medium-4 small-6 small-centered text-center columns">
                        <div class="info-row">
                            <a href="" class="info-tooltip">?</a>
                            <p class="info-price">S/.19</p>
                            <p class="info-description">PRIMA MENSUAL</p>
                            <div class="info-bottom">
                                <p>PÉRDIDA X ROBO</p>
                            </div>
                        </div>

                        <div class="checkbox-row">
                            <form class="checkbox-form" action="#">
                                <input id="c2" type="checkbox" value="19"><label for="c2"><span></span><br>Agrega a mi Cotización</label>
                            </form>
                        </div>
                    </div>

                    <div class="medium-2 columns"></div>

                    <div class="large-3 large-uncentered medium-4 medium-offset-2 small-6 small-centered text-center columns">
                        <div class="info-row">
                            <a href="" class="info-tooltip">?</a>
                            <p class="info-price">S/.35</p>
                            <p class="info-description">PRIMA MENSUAL</p>
                            <div class="info-bottom">
                                <p>PÉRDIDA TOTAL X CHOQUE</p>
                            </div>
                        </div>

                        <div class="checkbox-row">
                            <form class="checkbox-form" action="#">
                                <input id="c3" type="checkbox" value="35"><label for="c3"><span></span><br>Agrega a mi Cotización</label>
                            </form>
                        </div>
                    </div>

                    <div class="large-3 large-uncentered medium-4 small-6 small-centered text-center columns">
                        <div class="info-row">
                            <a href="" class="info-tooltip">?</a>
                            <p class="info-price">S/.49</p>
                            <p class="info-description">PRIMA MENSUAL</p>
                            <div class="info-bottom">
                                <p>DAÑOS PROPIOS X CHOQUE</p>
                            </div>
                        </div>

                        <div class="checkbox-row">
                            <form class="checkbox-form" action="#">
                                <input id="c4" type="checkbox" value="49"><label for="c4"><span></span><br>Agrega a mi Cotización</label>
                            </form>
                        </div>
                    </div>

                    <div class="medium-2 columns"></div>
                </div>

                <!-- <div class="row">
                    <div class="large-3-custom text-center columns checkbox-row">
                        <form class="checkbox-form" action="#">
                            <input id="c1" type="checkbox"><label for="c1"><span></span><br>Agrega a mi Cotización</label>
                        </form>
                    </div>
                    <div class="large-3-custom text-center columns checkbox-row">
                        <form class="checkbox-form" action="#">
                            <input id="c2" type="checkbox"><label for="c2"><span></span><br>Agrega a mi Cotización</label>
                        </form>
                    </div>
                    <div class="large-3-custom text-center columns checkbox-row">
                        <form class="checkbox-form" action="#">
                            <input id="c3" type="checkbox"><label for="c3"><span></span><br>Agrega a mi Cotización</label>
                        </form>
                    </div>
                    <div class="large-3-custom text-center columns checkbox-row">
                        <form class="checkbox-form" action="#">
                            <input id="c4" type="checkbox"><label for="c4"><span></span><br>Agrega a mi Cotización</label>
                        </form>
                    </div>
                </div> -->
            </div>
        </div>

        <div class="row">
            <div class="large-7 large-centered small-11 small-centered columns">
                <div class="row total">
                    <div class="large-4 columns text-center total-left">
                        <p>TOTAL PRIMA MENSUAL</p>
                        <p id="suma">S/.50</p>
                    </div>
                    <div id="message" class="large-8 columns total-right">
                        <p>AGREGA LA COBERTURA DE <b>PÉRDIDA TOTAL X ROBO</b> Y LLÉVATE GRATIS <b>NUESTRA COBERTURA DE ASISTENCIA</b> VIAL. <a href="#">ver más</a></p>
                    </div>
                </div>
            </div>
            <input type="hidden" id="suma_form">
        </div>

        <div class="row">
            <div class="large-9 large-centered small-11 small-centered text-center columns">
                <p class="marketing">DESCARGA TU COTIZACIÓN Y LLÉVALA AL PUNTO DE VENTA MÁS CERCANO</p>
            </div>
        </div>

        <div class="row">
            <div class="large-6 large-uncentered small-11 small-centered columns">
                <form id="contact-form" action="/content/gracias">
                    <div class="row">
                        <div class="large-6 columns">
                            <input type="text" placeholder="Nombre">
                        </div>
                        <div class="large-6 columns">
                            <input type="text" placeholder="Apellido">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="text" placeholder="Correo Electrónico">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input type="text" placeholder="Teléfono">
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input id="checkbox1" type="checkbox"><label for="checkbox1"><span></span>Enviar copia de la cotización a mi correo</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="large-12 columns">
                            <input id="checkbox2" type="checkbox"><label for="checkbox2"><span></span>Quiero que me contacten por teléfono</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="large-8 small-8 small-centered columns">
                            <button class="button-orange" type="submit">DESCARGAR COTIZACIÓN POR PDF</button>
                        </div>
                    </div>
                </form>
            </div>
            <div id="locate" class="large-5 large-uncentered small-11 small-centered columns">
                <div class="row">
                    <div class="large-12 columns">
                        <p class="marketing">UBICA EL PUNTO DE VENTA MÁS CERCANO</p>
                    </div>
                </div>
                <div class="row">
                    <form id="locate-form" action="#">
                        <div class="large-6 columns">
                            <span class="selector">
                                <select name="distrito" id="distrito">
                                   {exp:filtros:district region="@@@"}
                                </select>
                            </span>
                        </div>
                        <div class="large-6 columns">
                            <span class="selector">
                                   {exp:filtros:region}
                            </span>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="large-12 columns">
                        <p id="locate-msg">TU AGENCIA MÁS CERCANA ES:</p>
                        <div id="result" class="result">
                            <p>Agencia Miraflores</p>
                            <p>Avenida Jorge Chávez #154, oficina 201</p>
                            <p>Miraflores, Lima </p>
                            <a href="#">ver mapa</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>

   <div class="fixed-footer-bottom-trigger"></div>

    <footer>
        <div id="curve"></div>
        <div class="row">
            <div class="large-2 small-3 columns">
                <img src="{site_url}/img/logo.png" alt="">
            </div>
            <div class="large-5 small-9 columns">
                <ul class="inline-list right">
                    <li>
                        <a href="#">Términos y Condiciones</a>
                    </li>
                    <li>
                        <a href="#">Contáctanos</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <section class="fixed-footer">
        <div class="row">
            <form id="cotizar" class="quote" type="POST" action="#">
                        <div class="large-3 medium-6 columns">
                            <span class="selector-big">
                                {exp:filtros:brand}
                            </span>
                        </div>
                        <div class="large-2 medium-6 columns">
                            <span class="selector-big">
                                <select name="modelo" id="modelo">
                                  <option value="MODELO" selected>MODELO</option>
                                </select>
                            </span>
                        </div>
                        <div class="large-2 medium-6 columns">
                            <span class="selector-big">
                                <select name="version" id="version">
                                  <option value="VERSIÓN" selected>VERSIÓN</option>
                                </select>
                            </span>
                        </div>
                        <div class="large-2 medium-6 columns">
                            <span class="selector-big">
                                <select name="precio" id="ano">
                                  <option value="AÑO" selected>AÑO</option>
                                </select>
                            </span>
                        </div>
                        <div class="large-3 large-uncentered medium-6 medium-centered columns">
                        <input id="form_ano" type="hidden" name="ano">
                        <button class="expand" type="submit">COTIZAR</button>
                        </div>
                    </form>
        </div>
    </section>

    <script src="{site_url}/js/jquery.js"></script>
    <script src="{site_url}/js/foundation.min.js"></script>
    <script src="{site_url}/js/waypoints.min.js"></script>
    <script>
        $(document).foundation();

        $(function() {
            $(".fixed-footer-top-trigger").waypoint(function (d) {
                return "down" === d ? $(".fixed-footer").addClass("is-fixed") : $(".fixed-footer").removeClass("is-fixed");
            });

            $(".fixed-footer-bottom-trigger").waypoint(function (d) {
                return "down" === d ? $(".fixed-footer").removeClass("is-fixed") : $(".fixed-footer").addClass("is-fixed");
            }, { offset: "100%" });
        });
    </script>
</body>
</html>

<script>
    $(function(){
        resultado ="";
        $('#c1').attr('checked',true);
        $('#c3').attr('checked',true);
        resultado = parseInt($('#c1').val()) +parseInt($('#c3').val());
        $('#suma_form').val(resultado);
        $('#suma').html('S/'+resultado);
        count("#c3");
        count("#c4");
    });
    
   function count(checkbox){
           $(checkbox).click(function(){
               resultado="";
               if($( this ).is(':checked')){
                   resultado = parseInt($("#suma_form").val())+parseInt($(checkbox).val());
                   $("#suma_form").val(resultado); 
                   $('#suma').html('S/'+resultado); 
               }
               else{
                   resultado = parseInt($("#suma_form").val())-parseInt($(checkbox).val());
                   $("#suma_form").val(resultado); 
                   $('#suma').html('S/'+resultado); 
               }
           });
       }
       
       $("#c1").click(function(){
           resultado="";
           mensaje="";
           if($( this ).is(':checked')){
               resultado = parseInt($("#suma_form").val())+parseInt($("#c1").val());
               $("#suma_form").val(resultado); 
               $('#suma').html('S/'+resultado);
               if($("#c2").is(':checked')){
                  mensaje = '<p>CON TU SELECCIÓN ADEMÁS TE LLEVAS TOTALMENTE <b>GRATIS</b>LA COBERTURA DE ASISTENCIA</b> VIAL. <a href="#">ver más</a></p>';
                  $("#message").html(mensaje);
               }
               else{
                  mensaje = '<p>SI ADICIONAS <b>PÉRDIDA X ROBO</b>, TE LLEVAS TOTALMENTE GRATIS <b>LA COBERTURA DE ASISTENCIA</b> VIAL. <a href="#">ver más</a></p>';
                  $("#message").html(mensaje);
               } 
           }
           else{
               resultado = parseInt($("#suma_form").val())-parseInt($("#c1").val());
               $("#suma_form").val(resultado); 
               $('#suma').html('S/'+resultado);
               if($("#c2").is(':checked')){
                  mensaje = '<p>SI ADICIONAS <b>RESPONSABILIDAD CIVIL</b>, TE LLEVAS GRATIS <b>NUESTRA COBERTURA DE ASISTENCIA</b> VIAL. <a href="#">ver más</a></p>';
                  $("#message").html(mensaje);
               }
               else{
                  mensaje = '<p>SI SELECCIONAS <b>RESPONSABILIDAD CIVIL</b> Y <b>PÉRDIDA X ROBO</b> JUNTOS TE LLEVAS GRATIS <b>LA COBERTURA DE ASISTENCIA</b> VIAL. <a href="#">ver más</a></p>';
                  $("#message").html(mensaje);      
               }  
           }
       });

       $("#c2").click(function(){
           resultado="";
           if($( this ).is(':checked')){
               resultado = parseInt($("#suma_form").val())+parseInt($("#c2").val());
               $("#suma_form").val(resultado); 
               $('#suma').html('S/'+resultado);
               if($("#c1").is(':checked')){
                   mensaje = '<p>CON TU SELECCIÓN ADEMÁS TE LLEVAS TOTALMENTE <b>GRATIS</b> LA COBERTURA DE ASISTENCIA</b> VIAL. <a href="#">ver más</a></p>';
                   $("#message").html(mensaje);
               }
               else{
                   mensaje = '<p>SI ADICIONAS <b>RESPONSABILIDAD CIVIL</b>, TE LLEVAS GRATIS <b>NUESTRA COBERTURA DE ASISTENCIA</b> VIAL. <a href="#">ver más</a></p>';
                   $("#message").html(mensaje);
               } 
           }
           else{
               resultado = parseInt($("#suma_form").val())-parseInt($("#c2").val());
               $("#suma_form").val(resultado); 
               $('#suma').html('S/'+resultado);
               if($("#c1").is(':checked')){
                   mensaje = '<p>SI ADICIONAS <b>PÉRDIDA X ROBO</b>, TE LLEVAS TOTALMENTE GRATIS <b>LA COBERTURA DE ASISTENCIA</b> VIAL. <a href="#">ver más</a></p>';
                   $("#message").html(mensaje);
               }
               else{
                   mensaje = '<p>SI SELECCIONAS <b>RESPONSABILIDAD CIVIL</b> Y <b>PÉRDIDA X ROBO</b> JUNTOS TE LLEVAS GRATIS <b>LA COBERTURA DE ASISTENCIA</b> VIAL. <a href="#">ver más</a></p>';
                   $("#message").html(mensaje); 
               }  
           }
       });

    
    $( "#distrito" ).change(function (evt) {
    var str = "";
    $( "#distrito option:selected" ).each(function() {
      str = $( this ).val();
      if(str=='DISTRITO'){
      }
      else{
      str = str.replace(/-/gi," ");
      str = "distrito="+str;
      evt.preventDefault();
      $.ajax({
             type: "POST",
             url: "/?/content/agencia/",
             data: str, // serializes the form's elements.
             success: function(response)
             { // show response from the php script.
               $('#result').html(response);
             }
           });
      }
    });
  });

    $( "#region" ).change(function (evt) {
        var str = "";
        $('#distrito option:eq(0)').prop('selected', true);
        $( "#region option:selected" ).each(function() {
          str = $( this ).val();
          if(str=='REGIÓN'){
            $('#distrito option:eq(0)').prop('selected', true);
          }
          else{
          str = str.replace(/-/gi," ");
          str = "region="+str;
          evt.preventDefault();
          $.ajax({
                 type: "POST",
                 url: "/?/content/distrito/",
                 data: str, // serializes the form's elements.
                 success: function(response)
                 { // show response from the php script.
                   $('#distrito').html(response);
                 }
               });
          }
        });
      });
    $("#ano").change(function ( evt ){
      var str = "";
      var url = "";
        $( "#ano option:selected" ).each(function() {
          str = $( this ).text();
          $("#form_ano").val(str);
          option = $( this ).val();
          option = option.replace(/,/gi,"");
          if(option >= 15000){
            url = "/content/mas_de_15k";
          }
          else{
            if(option >= 10000){
              url = "/content/entre_10k_y_15k";
            }
            else{
              url = "/content/menor_de_10k";
            }
          }
          $('#cotizar').attr('action', url); //this fails silently
          $('#cotizar').get(0).setAttribute('action', url); 
        });
    });

    $( "#version" ).change(function (evt) {
        var str = "";
        $('#ano option:eq(0)').prop('selected', true);
        $( "#version option:selected" ).each(function() {
          str = $( this ).val();
          if(str=='VERSIÓN'){
            $('#ano option:eq(0)').prop('selected', true);
            $('#form_ano').val("");
          }
          else{
          str = str.replace(/-/gi," ");
          $("#form_version").val(str);
          str = "version="+str;
          evt.preventDefault();
          $.ajax({
                 type: "POST",
                 url: "/?/content/ano/",
                 data: str, // serializes the form's elements.
                 success: function(response)
                 { // show response from the php script.
                   $('#ano').html(response);
                 }
               });
          }
        });
      });

    $( "#modelo" ).change(function (evt) {
        var str = "";
        $('#version option:eq(0)').prop('selected', true);
        $('#ano option:eq(0)').prop('selected', true);
        $( "#modelo option:selected" ).each(function() {
          str = $( this ).val();
          if(str==='MARCA'){
            $('#version option:eq(0)').prop('selected', true);
            $('#ano option:eq(0)').prop('selected', true);
          }
          else{
          str = str.replace(/-/gi," ");
          $("#form_modelo").val(str);
          str = "modelo="+str;
          evt.preventDefault();
          $.ajax({
                 type: "POST",
                 url: "/?/content/versiones/",
                 data: str, // serializes the form's elements.
                 success: function(response)
                 { // show response from the php script.
                   $('#version').html(response);
                 }
               });
          }
        });
      });

    $( "#marca" )
      .change(function (evt) {
        var str = "";
        $('#modelo option:eq(0)').prop('selected', true);
        $('#version option:eq(0)').prop('selected', true);
        $('#ano option:eq(0)').prop('selected', true);
        $( "#marca option:selected" ).each(function() {
          str = $( this ).val();
          if(str=='MARCA'){
            $('#modelo option:eq(0)').prop('selected', true);
            $('#version option:eq(0)').prop('selected', true);
            $('#ano option:eq(0)').prop('selected', true);
          }
          else{
          str = str.replace(/-/gi," ");
          $("#form_marca").val(str);
          str = "marca="+str;
          evt.preventDefault();
          $.ajax({
                 type: "POST",
                 url: "/?/content/modelos/",
                 data: str, // serializes the form's elements.
                 success: function(response)
                 { // show response from the php script.
                   $('#modelo').html(response);
                 }
               });
          }
        });
      });

</script>